{% load static %}
<div class="menuFooter">
    <ul>
        {% for link, tieude, noidung in danhmuc %}
        <li>
            <a href="{{ link }}"
               title="{{ tieude }}">
                {{ tieude }}
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
<div class="footer">
    <div
        style="overflow:hidden; line-height:25px; text-align:left; width:600px; float:left; padding-left:10px">
        <a href="{% url 'website:trangchu' %}">
            <img alt="{{ congty.congty_ten }}"
                 src="{{ congty.congty_logo.url }}"
                 style="width:132px;height:130px;float:left;margin-left:10px;margin-right:10px;"
                 title="{{ congty.congty_ten }}">
        </a>
        <span style="font-family:tahoma,geneva,sans-serif;">
            <span style="font-size:12px;">
                <a href="{% url 'website:trangchu' %}">
                    <span style="color:#d3d3d3;">
                        <strong>{{ congty.congty_ten }}</strong>
                    </span>
                </a>
                <br>
                Điện thoại hỗ trợ:
                <a href="tel:{{ congty.congty_dienthoai }}">
                    <span style="color:#ffffff;">{{ congty.congty_dienthoai }}</span>
                </a>
                /
                <a href="tel:{{ congty.congty_hotline }}">
                    <span style="color:#ffffff;">
                        {{ congty.congty_hotline }}
                    </span>
                </a>
                - Fax: {{ congty.congty_hotline }}
            </span>
            <br>
            Email hỗ trợ: {{ congty.congty_email }}
            <br>
            Trụ sở: {{ congty.congty_diachi }}
            <br>
            Xưởng sản xuất: {{ congty.congty_xuongsanxuat }}
        </span>
        <br>
    </div>
    <div class="socia">
        {% for hinhanh, duongdan, noidung in links %}
        <p>
            <a href="{{ duondan }}"
               target="_blank">
                <img src="{% static hinhanh %}"
                     alt="">
                {{ noidung }}
            </a>
        </p>
        {% endfor %}
    </div>
</div>
