{% load static %}
<div class="page-content">
    <div class="title">
        <h3 class="title">
            Sản phẩm
        </h3>
    </div>
    <div id="fldgroup">
        {% for dssanpham in hang_sanpham %}
        <div class="list-product">
            {% for duongdan, tensanpham, hinhanh, giatien in dssanpham %}
            <div class="product-item">
                <h2 class="name">
                    <a href="{{ duongdan }}"
                       title="{{ tensanpham }}">
                        {{ tensanpham }}
                    </a>
                </h2>
                <div class="img">
                    <a href="#"
                       title="{{ tensanpham }}">
                        <img src="{{ hinhanh }}"
                             alt="{{ tensanpham }}"
                             title="{{ tensanpham }}">
                    </a>
                </div>
                <p class="price">
                {{ giatien }}
                </p>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    {% include 'website/giaodien_tintuc.html' %}
</div>
