{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta 
            http-equiv="Content-Type" 
            content="text/html; charset=utf-8" />
        <title>Công ty làm biển quảng cáo GAGVIETNAM</title>
        <meta 
            name="Keywords" 
            content="làm biển quảng cáo, làm biển công ty, công ty làm biển quảng cáo, làm biển giá rẻ, làm biển giá tốt, làm biển quảng cáo tại hà nội, làm biển phòng ban" />
        <meta 
            name="viewport" 
            content="width=device-width, initial-scale=1.0"/>
        <meta 
            name="Description" 
            content="Chuyên thiết kế thi công biển bảng quảng cáo trên mọi chất liệu, làm biển công ty, làm biển quảng cáo chuyên nghiệp tại hà nội" />
        <link 
            rel="shortcut icon" 
            href="{% static "hinhanh/favicon.ico" %}" />
        <link  
            href="{% static "website/style.css" %}" 
            rel="stylesheet" 
            type="text/css" 
            media="all" />
        <link  
            href="{% static "website/responsive.css" %}" 
            rel="stylesheet" 
            type="text/css" 
            media="all" />
        <link  
            href="{% static "website/print.css" %}" 
            rel="stylesheet" 
            type="text/css" 
            media="print" />
        <script 
            language="javascript" 
            src="{% static "website/jquery.js" %}">
        </script>
        <script 
            language="javascript" 
            src="{% static "website/custom.js" %}">
        </script>
    </head>
    <body>
        {% block noidung %}
        {% endblock %}
    </body>
</html>
